h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

.top-m-wrapper-content {
    margin-top: 9rem !important;
}



.hiding-long-word-per-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

table {
    width: 100%;
    margin: 20px 0;
}


th , td {
    border: solid 2px black;
    padding: 2px 8px;
}

li {
    text-align: justify;
}




article.article {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: whitesmoke; */
    /* height: 1000px; */
    width: inherit;

}

.wrapper-content {
    /* width: 1400px; */
    background: white;
    margin: 0px 20px 50px 20px;
}

.wrapper-header-content {
    /* width: 1000px; */
    height: fit-content;
    /* background: antiquewhite; */
    padding: 0px 40px;
}

.hgroup-header-content h1 {
    font-weight: bolder;
}




.wrapper-isi-content {
    /* margin: 30px; */
}

.wrapper-content .path,
.isi-content p,
.isi-content li {
    font-size: larger;
    text-align: justify;
}

.wrapper-header-content .tanggal span {
    font-size: medium;
}

tab {
    display: inline-block;
    margin-left: 40px;
}

h2 {
    /* font-size: x-large; */
    font-weight: bolder;
    /* font-family: cursive; */
    /* font-family: 'Times New Roman', Times, serif; */
}

.filter-content {
    margin-bottom: 30px;
}

.list-filter-list-content #filter-button {
    /* width: initial; */
    font-size: larger;
}

.list-filter-list-content #filter-button {
    /* width: initial; */
    font-size: larger;
    
}

.filter-list-content {
    /* width: 20px; */
    /* aspect-ratio: 1/1; */
    font-size: 30px;
}

.daftar-filter {
    display: none;
}

.wrapper-daftar-filter-list-content {
    margin: 10px 5px;
}

.daftar-filter-list-content .tags-list {
    /* background-color: red; */
    border-radius: 12px;
}
.daftar-filter-list-content .tags-list::before {
    /* background-color: red; */
    /* border-radius: 12px; */
    /* font-variant-caps: all-petite-caps; */
    
}

.daftar-filter-list-content .tanggal {
    
}

.list-content {
    max-width: inherit;
    /* background-color: whitesmoke; */
    /* height: ; */
}

.wrapper-isi-content-list-content {
    margin: 13px 10px;
}

.list-content .content-list-content {
    width: 400px; height: 600px;
    /* background-color: lightgrey; */
}

.img-content-list-content {
    margin: 5px;
    width: 97.5%;
    /* border: blue 2px solid; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;
}

.img-list-content  {
    /* aspect-ratio: 1/1; */
    
}

.content-list-content .tag-group{
    margin: 10px 0px;
}

.content-list-content a {
    color: black;
}

.content-list-content a:hover {
    color: #008bf6;
}

.isi-content-list-content {
    margin: 10px 0px 15px;
    text-align: justify;
}

.content-list-content p {
    line-height: normal;
    font-size: medium;
}

.content-list-content p::first-line {
    /* font-variant-caps: titling-caps; */
    /* font-variant: big-; */
}

.content-list-content .tanggal {
    /* position: relative; */
    /* text-align: end; */
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.list.visi {
    list-style: decimal;
}

.visi h3,
.misi h3 {
    margin-bottom: 20px;
}

.visi.list li {
    margin-bottom: 10px ;
}

.thumbnail {
    width: 80%;
    aspect-ratio: 16/9;
    background-size: cover !important;
}

.wrapper .group-another-news {

}

.group-another-news{
    /* width: 80%; */
    /* max-width: ; */
    grid-template-columns: 1fr 1fr ;
    /* background-color: lightgray; */
}

.another-news {
    /* max-width: 200px; */
    /* aspect-ratio: 5/2; */
    /* min-width: 25%; */
    /* padding: 30px 15px; */
    /* background: blue; */
    height: fit-content;
    
}

.another-news .news {
    /* background: green; */
    width: 100%;
    height: 100%;
    /* aspect-ratio: 9/16; */
    /* border: solid rgb(61, 61, 61) 2px; */

}

.another-news .w-25 {
    /* aspect-ratio: 9/16; */
}

.another-news .news .img {
    /* background: url(http://localhost/project-ppdb/assets/img/about.jpg); */
    /* width: 30%; */
    width: 100%;
    /* height: 100%; */
    /* height: 50%; */
    aspect-ratio: 16/9;
    /* height: 80vh; */
    /* background: url(../img/main-image.jpg) top center; */
    background-size: cover !important;
    /* image-rendering: ; */
    /* position: relative; */
    background-position: top !important;
    
}

.another-news .kumpulan-kata {
    flex: 1 1 0;
}

.another-news .news .head {
    /* font-size: 40px; */
}

.another-news .news .kumpulan-kata div,
.another-news .news .tanggal div {
    /* font-size: 40px; */
    /* text-align: justify;  */
    
}

@media (max-width: 1200px) {
    .hgroup-header-content h1 {
        /* font-weight: bolder; */
        font-size: 2rem;
    }

    .another-news .news .kumpulan-kata div {
        font-size: small !important;
    }
    .another-news .news .tanggal div {
        font-size: x-small;
    }
}

@media (max-width: 768px) {

    .hgroup-header-content h1 {
        /* font-weight: bolder; */
        font-size: 1.5rem;
    }

    .wrapper-header-content .tanggal span {
        font-size: x-small;
    }
    

    .top-m-wrapper-content {
        margin-top: 7rem !important;
    }
    .wrapper-content .path,
    .isi-content p,
    .isi-content li {
        font-size: medium;
    }

    
    .list-content .content-list-content {
        height: fit-content;
        width: 100%;
    }

    .content-list-content .img-content-list-content {
        /* width: 22; */
    }

    .img-content-list-content {
        aspect-ratio: none;
    }

    .wrapper-isi-content-list-content  .tag-group,
    .wrapper-isi-content-list-content .tanggal {
        margin: 5px 0px;
    }

    .wrapper-isi-content-list-content .isi-content-list-content {
        font-size: 14px;
    }

    .wrapper-isi-content-list-content h3 {
        font-size: smaller;
    }

    .isi-content-list-content p {
        font-size: xx-small;
    }

    .group-another-news{
        grid-template-columns: 1fr ;
    }

    .another-news .news .kumpulan-kata div {
        font-size: medium !important;
    }
    .another-news .news .tanggal div {
        font-size: small;
    }
}

@media (max-width: 425px) {

    .top-m-wrapper-content {
        margin: 5.5rem 13px 50px 13px !important;
    }

    .wrapper-header-content {
        padding: 5px 10px;
    }

    .hgroup-header-content h1 {
        /* font-weight: bolder; */
        font-size: medium;
    }

    .wrapper-header-content .tanggal span {
        font-size: xx-small;
    }
    
    .wrapper-content .path,
    .isi-content p,
    .isi-content li {
        font-size: xx-small;
    }

    h2 {
        font-size: medium;
    }

    table th,
    table td {
        font-size: x-small;
    }

    .another-news .news .kumpulan-kata div {
        font-size: small !important;
    }

    .another-news .news .tanggal div {
        font-size: x-small !important;
    }

    .group-another-news{
        grid-template-columns: 1fr ;
    }
}
