h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

table {
    width: 100%;
    margin: 20px 0;
}


th , td {
    border: solid 2px black;
    padding: 2px 8px;
}




article.article {
    display: flex;
    justify-content: center;
    /* background: whitesmoke; */
    /* height: 1000px; */
    width: inherit;

}

.wrapper-content {
    width: 1400px;
    background: white;
    margin: 120px 20px 50px 20px;
}

.wrapper-header-content {
    /* width: 1000px; */
    height: fit-content;
    /* background: antiquewhite; */
    padding: 30px 40px;
}

.wrapper-isi-content {
    margin: 30px;
}

.isi-content p {
    font-size: larger;
    text-align: justify;
}

tab {
    display: inline-block;
    margin-left: 40px;
}

h2 {
    /* font-size: x-large; */
    font-weight: bolder;
    font-family: cursive;
}

.filter-content {
    margin-bottom: 30px;
}

.list-filter-list-content #filter-button {
    /* width: initial; */
    font-size: larger;
}

.list-filter-list-content #filter-button {
    /* width: initial; */
    font-size: larger;
    
}

.filter-list-content {
    /* width: 20px; */
    /* aspect-ratio: 1/1; */
    font-size: 30px;
}

.daftar-filter {
    display: none;
}

.wrapper-daftar-filter-list-content {
    margin: 10px 5px;
}

.daftar-filter-list-content .tags-list {
    /* background-color: red; */
    border-radius: 12px;
}
.daftar-filter-list-content .tags-list::before {
    /* background-color: red; */
    /* border-radius: 12px; */
    /* font-variant-caps: all-petite-caps; */
    
}

.daftar-filter-list-content .tanggal {
    
}

.list-content {
    max-width: inherit;
    /* background-color: whitesmoke; */
    /* height: ; */
}

.wrapper-isi-content-list-content {
    margin: 13px 10px;
}

.list-content .content-list-content {
    width: 400px; height: 600px;
    background-color: lightgrey;
}

.img-content-list-content {
    margin: 5px;
    width: 97.5%;
    /* border: blue 2px solid; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;
}

.img-list-content  {
    /* aspect-ratio: 1/1; */
    
}

.content-list-content .tag-group{
    margin: 10px 0px;
}

.content-list-content a {
    color: black;
}

.content-list-content a:hover {
    color: #008bf6;
}

.isi-content-list-content {
    margin: 10px 0px 15px;
    text-align: justify;
}

.content-list-content p {
    line-height: normal;
    font-size: medium;
}

.content-list-content p::first-line {
    /* font-variant-caps: titling-caps; */
    /* font-variant: big-; */
}

.content-list-content .tanggal {
    /* position: relative; */
    /* text-align: end; */
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* @media (max:) { */
    
/* } */

@media (max-width: 768px) {
    .isi-content p {
        font-size: medium;
    }

    
    .list-content .content-list-content {
        height: fit-content;
        width: 100%;
    }

    .content-list-content .img-content-list-content {
        /* width: 22; */
    }

    .img-content-list-content {
        aspect-ratio: none;
    }

    .wrapper-isi-content-list-content  .tag-group,
    .wrapper-isi-content-list-content .tanggal {
        margin: 5px 0px;
    }

    .wrapper-isi-content-list-content .isi-content-list-content {
        font-size: 14px;
    }

    .wrapper-isi-content-list-content h3 {
        font-size: smaller;
    }

    .isi-content-list-content p {
        font-size: xx-small;
    }
}

@media (max-width: 425px) {

    .wrapper-header-content {
        padding: 15px 10px;
    }
    
    .isi-content p {
        font-size: x-small;
    }

    h2 {
        font-size: medium;
    }

    table th,
    table td {
        font-size: x-small;
    }
}
