.wrapper-content {
    width: 90%;
    overflow: hidden;
}

.berita-terbaru {
    /* background-color: red; */
    width: inherit;
    height: inherit;

    /* border: solid blue 2px */
}

.swiper-wrapper {
    aspect-ratio: 16/9;
    width: 100%;
}

.wrapper-berita-terbaru {
    /* outline: solid blue 3px; */
    width: 100%;
    /* aspect-ratio: 10/1; */
    /* height: 80%; */
    /* border: solid blue 2px; */
    /* height: 500px; */
    /* margin: 10px; */
    /* background: linear-gradient(black, white); */
    background: linear-gradient(white, grey); 
    /* url("/project-ppdb/model2/about.jpg"); */
}


.img-berita-terbaru {
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* background-position: 50% 50%; */
    background-size: cover;
    background-attachment: fixed;
    /* padding-right: 44px; */
    /* background: linear-gradient(white, grey); */
}

#swiper-button-next, #swiper-button-prev{
    border-radius: 10px;
    padding: 30px;
    width: 44px;
    /* height: 44px; */
    background-color: darkgray;
    /* aspect-ratio: 1/1; */
    box-shadow: rgb(61, 61, 61) 0px 0px 20px 1px;
    /* size: 10px; */
    

}

#swiper-button-next:hover, #swiper-button-prev:hover {
    background-color: #008bf6;
    color: white;
    transition: 0.3s;
}
/* .swiper-button-next {
    background-color: red;
} */



.linear-bg-berita-terbaru {
    height: 50%;
    bottom: 0;
    position: absolute;
    width: inherit;
    background: linear-gradient(#ffffff00, black);
}

.berita-terbaru {
    padding: 0 0 50px 50px;
    display: grid;
    bottom: 0;
    position: absolute;
    width: initial;
    height: initial;
    
    
}

.tag-group {
 display: flex;

}

.tags {
    display: unset;
    font-size: small;
    text-align: left;
    max-width: 12ch;
    color: rgb(67, 67, 67);
    background-color: rgb(255, 255, 95);
    background-size: contain;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    margin-right: 5px;
}


.hgroup-berita-terbaru  {
    display: grid;
    margin-top: 10px;
    color: white;
}

.hgroup-berita-terbaru h4:hover {
    color: #008bf6;
}

#swiper-pagination {
    /* background: white; */
    /* width: ; */
}

.swiper-pagination-bullet {
    background: white;
}

.footer-logo {
    width: fit-content;
}